<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <% include partials/header.ejs %>
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<% include partials/head.ejs %>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include partials/menu.ejs %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="portlet light bordered borderedBoxes">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-pin font-green"></i>
                        <span class="caption-subject bold uppercase"> Chọn nhà </span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form" action="/getRoomList" method="post">
                        <div class="form-body">
                            <% if(error !== null){ %>
                                <div class="alert alert-danger">
                                    <button class="close" data-close="alert"></button>
                                    <span> <%= error %> </span>
                                </div>
                            <%}else{%>
                                <div class="alert alert-info display-hide">
                                </div>
                            <%}%>
                            <div class="form-group form-md-line-input form-md-floating-label has-info" id="gethome">
                                <select class="form-control edited" id="chooseHome" name="chooseHome"></select>
                                <label for="form_control_1">Chọn nhà</label>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="submit" class="btn btn-outline blue">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="portlet light bordered borderedBoxes">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <span class="caption-subject bold uppercase">Danh sách phòng thuộc nhà <%=home_id%></span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn green-haze btn-outline btn-sm" data-toggle="modal" href="#addRoom">Thêm phòng</a>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="list_device">
                            <thead>
                            <tr>
                                <th class="text-center"> STT </th>
                                <th class="text-center"> ID phòng </th>
                                <th class="text-center"> Tên phòng </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <%let count = 1%>
                            <% for(let i in data) { %>
                                <% for(let j in data[i]) {%>
                                <tr>
                                    <td class="middleTable"><%=count%></td>
                                    <td class="middleTable"><%=data[i][j].room_id%></td>
                                    <td class="middleTable"><%=data[i][j].room_name%></td>
                                    <td class="middleTable">
                                        <button type="submit" onclick="deleteRoom('<%=key%>', '<%=home_id%>','<%=data[i][j].room_id%>', '<%=data[i][j].room_name%>')" class="btn btn-outline red">Xoá</button>
                                    </td>
                                </tr>
                                <%count++;%>
                                <%}%>
                            <%}%>
                            </tbody>
                        </table>
                        <div class="modal fade" id="addRoom" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                                        <h4 class="modal-title">Thêm phòng cho nhà ID: <%=home_id%></h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="portlet-body form">
                                            <form role="form" action="/add_room" method="post">
                                                <div class="form-body">
                                                    <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                        <input type="text" class="form-control" id="getNewRoomName" name="getNewRoomName">
                                                        <label for="getNewRoomName">Tên phòng mới</label>
                                                    </div>
                                                </div>
                                                <input type="hidden" value="<%=home_id%>" name="home_id" id="home_id">
                                                <div class="form-actions right">
                                                    <button type="submit" class="btn btn-outline blue">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <% include partials/footer.ejs %>
</body>
<script>
    let serverURL = "<%=process.env.SERVER_ADD%>"

    let origin = window.location.origin;

    let getHome = token => {
        let url = serverURL + "/api/data?token=" + token;
        $.getJSON(url, res => {
            $('#chooseHome').empty();
            $('#chooseHome').append($('<option>').text("Select"));
            $.each(res.data, (i, obj) => {
                $('#chooseHome').append($('<option>').text(obj.home_id).attr('value', obj.home_id));
            });
        });
    }

    let deleteRoom = (token, home_id, room_id, room_name) => {
        if(confirm('Bạn có chắc muốn xoá phòng ' + room_name)){
            $.ajax({
                type: "POST",
                url: serverURL + "/api/modify/delete_room?token=" + token,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: {
                    "home_id": home_id,
                    "room_id": room_id
                },
                success: function(msg){
                    console.log(msg);
                    if(msg.success === true){
                        alert('Xoá thành công phòng ' + room_name);
                        window.location.href= origin + '/list_room';
                    }
                    else{
                        alert(JSON.stringify(msg.reason));
                        window.location.href= origin + '/list_room';
                    }
                },
                error: (XMLHttpRequest, textStatus, errorThrown) => {
                    alert(textStatus + "     " + errorThrown);
                }
            });
        }
    }

    $(document).ready(() => {
        $('#loading').hide();
        $(document).ajaxStart(() => {
            $('#loading').show();
        }).ajaxStop(() => {
            $('#loading').hide();
        })
        let token = '<%=key%>'
        getHome(token);
    })
</script>

</html>